@import "tailwindcss";
@import "tw-animate-css";

body {
    background-color: #151d32;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hero-section {
    @apply flex flex-col justify-center items-center h-screen dark:text-white;
}

.hero-title {
    @apply text-center text-6xl font-bold tracking-wider;
}

.hero-subtitle {
    @apply text-gray-400 mb-6 text-lg mt-9 text-center;
}

.hero-buttons {
    @apply flex flex-col sm:flex-row justify-center items-center gap-4 mt-10;
}

.hero-button {
    @apply dark:text-white bg-gradient-to-r from-cyan-500 to-blue-500 
    hover:bg-gradient-to-bl focus:ring-4 focus:outline-none 
    focus:ring-cyan-300 dark:focus:ring-cyan-800 font-medium 
    rounded-lg text-sm w-48 py-3.5 text-center transition;
}

.success-section {
    @apply py-20;
}

.success-container {
    @apply max-w-7xl mx-auto text-center px-6;
}

.success-title {
    @apply text-3xl mb-4 font-bold text-white;
}

.success-subtitle {
    @apply text-gray-400 mb-12;
}

.success-grid {
    @apply grid grid-cols-1 md:grid-cols-3 gap-8;
}

.success-card {
    @apply bg-gray-800 p-8 rounded-2xl hover:scale-105 transition-transform duration-300;
}

.success-card-icon {
    @apply w-15 h-15 mx-auto mb-4 bg-blue-100 flex items-center justify-center rounded-full;
}

.success-card-title {
    @apply text-xl font-semibold mb-2 text-white;
}

.success-card-text {
    @apply text-gray-400 mb-6;
}

.success-card-button {
    @apply inline-block border border-blue-600 text-blue-400 font-medium px-6 py-2 rounded-xl 
    hover:bg-blue-900 hover:text-white transition-colors duration-200;
}

.timeline-section {
    @apply flex justify-center pt-20 mb-10
}

.timeline-container {
    @apply  w-full max-w-lg px-6
}

.timeline-title {
    @apply text-2xl font-bold mb-6 flex justify-center text-center
}

.timeline-subtitle {
    @apply text-gray-400 mb-10 flex justify-center text-center
}

.timeline-li {
    @apply relative flex gap-6 pb-5 items-baseline
}

.timeline-num {
    @apply w-8 h-8 bg-blue-500 text-white rounded-full flex items-center justify-center font-bold
}

.timeline-points {
    @apply text-gray-400
}